@media screen and (max-width:1080px) {
    .hero_section {
        grid-template-columns: 1fr;
    }

    .left {
        padding: 40px 0px;
    }

    .right {
        background-position: center;
    }

    .one {
        top: 25.43rem;
        left: 5.0rem;
    }

    .two {
        top: 170px;
        right: 100px;
    }

    /* THE STYLE OF HAVITS SEVTION START FROM HERE */
    .section_information {
        width: 100%;
    }

    .habits_card_container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
    .run_section {
        grid-column-gap: 40px;
    }
    .team_card_container {
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {

    header,
    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* THE STYLE OF RUN SECTION START FROM HERE */
    .run_section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 40px;
    }
}