@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* font-family: "Inter", sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

html {
    scroll-behavior: smooth;
    background: black;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 0px 10%;
    background: linear-gradient(180deg, #111111 0%, #323232 50%, #111111 100%);
}

section,
footer {
    padding: 45px 10%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff80;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}

h2 {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

h3 {
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    padding: 40px 0px;
}

.flex_col {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
}

.btn_primary,
.btn_secondary {
    display: inline-block;
    margin-top: 10px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 40px;
    border-radius: 42px;
    opacity: 0px;
    border: 2px solid #FFFFFF;
    ;
}

.btn_primary {
    background: var(--primary_color);
    border: 2px solid var(--primary_color);
}

:root {
    --primary_color: #e6533c;
}

/* THE STYLE OF HEADING SECTION START FORM HERE */
nav {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--primary_color);
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 43.2px;
}

.main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 20px;
}

.main_menu li a {
    padding: 8px 20px;
    display: inline-block;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    transition: all ease 0.1s;
    line-height: 21.6px;
}

.main_menu li:hover a {
    border-radius: 20px;
    background: var(--primary_color);
}

.hero_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.left h1 {
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 93.6px;
}

.left span {
    font-family: "Grey Qo", cursive;
    font-size: 78px;
    font-style: italic;
    font-weight: 400;
    line-height: 93.6px;
    margin: 0px 10px;
}

.right {
    background: url(../src/images/Images\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 550px;
    position: relative;
}

.one {
    top: 25.43rem;
    left: 0.875rem;
}

.one,
.two {
    width: 206px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-radius: 12px;
    border: 1px solid #FFFFFF1A;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);

}

.one p,
.two p {
    font-size: 16px;
}

.one h6,
.two h6 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.one .rounded {
    width: 40px;
    height: 40px;
    background: var(--primary_color);
}

.two {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    top: 180px;
    right: -50px;
    padding: 10px;
}

/* THE STYLE OF HEADING SECTION END HERE */
/* THE STYLE OF 2ND SECTION START FROM HERE */
.habit_section,
.team_section {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

.section_information,
.info {
    text-align: center;
    width: 70%;
}

.habits_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    padding-top: 40px;
}

.havits_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.havits_card_image img {
    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.habits_card_title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}

.havits_card p {
    font-size: 14px;
}

/* THE STYLE OF 2ND SECTION END HERE */
/* THE CSS OF RUN SECTION START FORM HERE */
.run_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    background: #222222;
    border-radius: 18px;
    padding: 40px;
}

.run_image {
    background: url(../src/images/run.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 18px;
}

/* THE CSS OF RUN SECTION END HERE */
/* THE STYLE OF TRAINING SECTION START FROM HERE */
.training_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.traing_information {
    padding-bottom: 40px;
}

.taring_grid_layout {
    padding-top: 40px;
    display: grid;
    grid-template-areas:
        "one  one  one two two two two two two three three three"
        "four four four four four five five five six six six six";
}

._one {
    grid-area: one;
    background: url("../src/images/exercise1.jpg");
}

._one::after {
    background: #06FFD280;
}

._two {
    grid-area: two;
    background: url("../src/images/exercise2.png");
}

._two::after {
    background: #FF00004D;
}

._three {
    grid-area: three;
    background: url("../src/images/exercise3.png");
}

._three::after {
    background: #00000080;
}

._four {
    grid-area: four;
    background: url("../src/images/exercise4.png");
}

._four::after {
    background: #00000080;

}

._five {
    grid-area: five;
    background: url("../src/images/exercise5.jpg");
}

._five::after {
    background: #42FF004D;
}

._six {
    grid-area: six;
    background: url("../src/images/exercise6.jpg");
}

._six::after {
    background: #0047FF4D;

}

.grid_card {
    height: 201px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.grid_card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.card_info {
    position: absolute;
    max-width: 176px;
    height: 34px;
    top: 146px;
    left: 27px;
    overflow-x: hidden;
    text-wrap: wrap;
}

/* THE STYLE OF TRAING SECTION END HERE */
/* THE STYLE OF BMI CALCULATOR SECTION START FROM HERE */
.bmi_calculator {
    padding-top: 0px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.bmi_calculator p {
    margin-top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ffffff80;
}

th,
td {
    padding: 12px 5px;
}

table th {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

table td {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #ffffff80;
}

.chart {
    width: 45%;
}

.calculator {
    width: 50%;
}

.group_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator_form input,
select,
select option {
    background: #FFFFFF1A;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    outline: 0px;
    border: 0px;
    width: 48%;
    margin-bottom: 20px;
    color: #ffffff80;
}

#factor,
#factor option {
    width: 100%;
}

/* THE STYLE  OF BMI CALCULATOR SECTION END HERE */
/* THE STYLE OF TEAM SECTION START FROM HERE */
.team_card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background: #222222;
    border-radius: 18px;
    margin-top: 40px;
}

.team_card {
    height: 272px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.team_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    padding: 10px;
    position: absolute;
    top: 85%;
    left: 2%;
    transform: translateY(-50%);
}

.name p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0px;

}
.name h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
}

/* THE STYLE OF TEAM SECTON END HERE */
/* THE STYLE OF FOOTER SECTION START FORM HERE */
footer {
    background: #222222;
    padding-bottom: 8px;
}

.footer_section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-bottom: 45px;
}

footer h5 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.2px;
}

footer ul li {
    margin: 10px 0px;
}

footer a {
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: #FFFFFF80;
}

hr {
    width: 100%;
    height: 2px;
    background: #FFFFFF1A;
}
footer .copy{
    text-align: center;
}
/* THE STYLE OF FOOTER SECTION END HERE */